<div align="center">
  <h1>Listing all articles</h1>
  <div class="">
    <% if logged_in? %>
      <%= link_to "Write new article", new_article_path, class: "btn btn-xlarge btn-success" %>
    <% end %>
  </div>
    <%= will_paginate %>
  <%= render 'article', obj: @articles %>
    <%= will_paginate %>
</div>
