<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; 2016
      <a href="http://www.dafont.com/sketch-block.font">Font = 'Sketch_Block' by artill.de</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
